.progress[progress-mode~="indeterminate"][progress-type~="Bar"] {
  width: 100%;
  height: var(--progress-size, 8px);
  background: #eaeaea;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
}

.progress[progress-mode~="indeterminate"][progress-type~="Bar"]:before {
  content: ' ';
  display: block;
  position: absolute;
  width: var(--width, 0%);
  height: 100%;
  background: var(--progress-color, #ad2d6d);
}

.progress[progress-mode~="indeterminate"][progress-type~="Bar"]:before {
  animation: 1s progressIndeterminate infinite;
}

*[progress-loading~="false"] {
  display: none !important;
}

*[progress-loading~="true"] {
  display: flex;
}

@-moz-keyframes progressIndeterminate {
  from {
    width: 0;
    margin-left: 0;
    margin-right: 100%;
  }

  50% {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  to {
    width: 0;
    margin-left: 100%;
    margin-right: 0;
  }
}

@-webkit-keyframes progressIndeterminate {
  from {
    width: 0;
    margin-left: 0;
    margin-right: 100%;
  }

  50% {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  to {
    width: 0;
    margin-left: 100%;
    margin-right: 0;
  }
}

@-o-keyframes progressIndeterminate {
  from {
    width: 0;
    margin-left: 0;
    margin-right: 100%;
  }

  50% {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  to {
    width: 0;
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes progressIndeterminate {
  from {
    width: 0;
    margin-left: 0;
    margin-right: 100%;
  }

  50% {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  to {
    width: 0;
    margin-left: 100%;
    margin-right: 0;
  }
}

.progress[progress-mode~="indeterminate"][progress-type~="Circle"] {
  display: inline-block;
  width: var(--progress-size, 2rem);
  height: var(--progress-size, 2rem);
  vertical-align: -0.125em;
  border: 0.25em solid var(--progress-color, #ad2d6d);
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.progress[progress-mode~="indeterminate"][progress-type~="Buffer"] {
  display: inline-block;
  width: var(--progress-size, 2rem);
  height: var(--progress-size, 2rem);
  vertical-align: -0.125em;
  background-color: var(--progress-color, #ad2d6d);
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: .75s linear infinite spinner-grow;
  animation: .75s linear infinite spinner-grow;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}